<a href="https://colab.research.google.com/github/Izzah-Khursheed/Python-Colab/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List:**

A list in Python is a built-in data structure that allows you to store multiple items in a single variable.

**Key Features of Lists:**

***Ordered:*** Elements in a list are stored in a specific order.

***Mutable:*** You can modify, add, or remove elements.

***Allows Duplicates:*** Lists can contain duplicate elements.

***Heterogeneous:*** Can store different data types (integers, strings, floats, etc.).

***Indexed:*** Elements are accessed using an index, starting from 0.

**Creating a List:**

You can create a list using square brackets [  ] and separate the list elements with commas.

In [ ]:
fruits = ["Apple", "Banana", "Cherry", "Mango"]
print(fruits)

['Apple', 'Banana', 'Cherry', 'Mango']

In [ ]:
list1 = ["Tayyaba",10,True,5.3,"Summer"]
print(list1)
print(type(list1))

['Tayyaba', 10, True, 5.3, 'Summer']
<class 'list'>

In [ ]:
empty = []
print(empty)
print(type(empty))

[]
<class 'list'>

**List Length:**

The length of a list in Python refers to the *number of elements* present in the list.

You can find the length of a list using the `len()` function.

**Syntax:**

`len(list_name)`

In [ ]:
list1 = ["Tayyaba", 10, True, 5.3, "Summer", "Python", 1560, "123$#!"]
print(len(list1))

8

In [ ]:
numbers = [10, 20, 30, 40, 50]
print(len(numbers))

5

In [ ]:
empty_list = []
print(len(empty_list))

0

**Access List Items:**

You can access list items using different methods such as;
- Indexing
- Slicing
- Looping

**1- Accessing Elements Using Indexing:**

- Lists in Python use zero-based indexing (i.e., the first element is at index 0).

- You can access individual elements using their index inside square brackets [ ].

- Negative indexing allows access from the end of the list.

In [ ]:
fruit = ["apple", "banana", "cherry", "mango", "grapes", "strawberry"]
print(fruit[0])
print(fruit[1])
print(fruit[2])


#negative indexing
print(fruit[-1])
print(fruit[-2])
print(fruit[-3])

apple
banana
cherry
strawberry
grapes
mango

**2- Accessing Multiple Elements Using Slicing:**

- Slicing allows extracting a portion of a list using the syntax
`list[start:end:step]`

- start – The index where the slice starts (default is 0).

- end – The index where the slice stops (exclusive).

- step – The step size (default is 1).

In [ ]:
my_list = [10, 20, 30, 40, 50, 60]

print(my_list[1:4])
print(my_list[:3])
print(my_list[2:])
print(my_list[::2])
print(my_list[::-1])  # Give Reversed List

[20, 30, 40]
[10, 20, 30]
[30, 40, 50, 60]
[10, 30, 50]
[60, 50, 40, 30, 20, 10]

- If the step is positive (1), start must be before stop for slicing to work. (0 1 2 3 4 5)
- If the step is negative (-1), start must be after stop for slicing to work.  (-5 -4 -3 -2 -1)
- If the range is logically invalid, Python returns [].

In [ ]:
list4 = ["Tayyaba", 10, True, 5.3, "Summer", 200, "cool"]

# print(list4[3])
# print(list4[-1])
# print(list4[0::-1])   #(0)+(-1)= -1
# print(list4[-2:-4:1])   # -4, -3, -2, -1
# print(list4[-2:-4:-1])    #(-2)+(-1) = -3

#invalid ranges
print(list4[5:0:1])
print(list4[-4:-2:-1])

['Tayyaba']
[]
[200, 'Summer']

**3- Accessing Elements Using Loops:**

- Using a `for` loop to iterate over list elements directly.

In [ ]:
colors = ["Red", "Blue", "Green", "Yellow", "Black", "Purple"]
for color in colors: #color = "Red"
    print(f"{color[0]} is {color}")

R is Red
B is Blue
G is Green
Y is Yellow
B is Black
P is Purple

- If you need both index and value, use `range(len(list_name))` to iterate through indices.

In [ ]:
animals = ["cat", "dog", "rabbit"]
for i in range(len(animals)): #range(start, stop, step) range(3, 7, 2)
    print(f"Animal at index {i} is {animals[i]}")

Animal at index 0 is cat
Animal at index 1 is dog
Animal at index 2 is rabbit

- A better approach to get both the index and value is using `enumerate()`.

In [ ]:
cities = ["New York", "London", "Tokyo"]

for index, city in enumerate(cities):
    print(f"{index}: {city}")

0: New York
1: London
2: Tokyo

**Membership Operators in List:**

Membership operators are used to check whether a specific element exists in a list.

- `in` → Returns True if the element is present in the list.

- `not in` → Returns True if the element is not present in the list.

In [ ]:
list3 = ["Tayyaba", 10, True, 5.3, "Rafia", "Noor"]
print(5.3 in list3)
print("T" in list3)

print(3 not in list3)
print("Noor" not in list3)

True
False
True
False

**Change List Items:**

In Python, lists are mutable, meaning their elements can be modified after creation.

- You can directly modify a list item by referring to its index.

- You can update multiple elements at once using slicing. For this, define a list with the new values, and refer to the range of index numbers where you want to insert the new values.

In [ ]:
fruits = ["apple", "banana", "cherry", "mango", "berries"]
print (fruits)
fruits[1] = 200
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'berries']
['apple', 200, 'cherry', 'mango', 'berries']

In [ ]:
list2 = ["Tayyaba", 1500, False, 15.3, "Python"]
list2[2:4] = ["Programmer", True]
print(list2)

['Tayyaba', 1500, 'Programmer', True, 'Python']

In [ ]:
weather = ["summer", "winter", "spring", "autumn"]
weather[0:3] = ["rainy"]
print(weather)

['rainy', 'autumn']

**Add List Items & Join Lists:**

There are several ways to add elements to a list;

- `append()` method adds a single element to the end of the list.
- `insert(index, value)` method adds an element at a specific position.
- `extend()` method adds multiple elements from another list or iterable.
- List Concatenation: Multiple lists can be combined using the `+` operator.

In [ ]:
#append
students = ["Alice", "Bob", "Charlie", "David", "Elif"]
students.append("Fred")
print(students)

#appending each item using for loop
x = ["apple", "Banana", "orange", "Apricot"]
y = ["apple", "5", "Winter", "4.0"]
for i in y:
  x.append(i)
print(x)

['Alice', 'Bob', 'Charlie', 'David', 'Elif', 'Fred']
['apple', 'Banana', 'orange', 'Apricot', 'apple', '5', 'Winter', '4.0']

In [ ]:
#insert(index, value)
tasks = ["Do Laundry", "Complete Assignment", "Buy Groceries"]
tasks.insert(0, "Pay Bills")
print(tasks)

scores = [50, 60, 80, 90]
scores.insert(2, 70)
print(scores)

['Pay Bills', 'Do Laundry', 'Complete Assignment', 'Buy Groceries']
[50, 60, 70, 80, 90]

In [ ]:
#extend()
existing_customers = ["Ainee", "Babar", "Charlie"]
new_customers = ["Dawood", "Faryal", "Esha"]
existing_customers.extend(new_customers)
print(existing_customers)
print (new_customers)

#other iterable
letters = ['A', 'B', 'C']
letters.extend("XYZ")
print(letters)

['Ainee', 'Babar', 'Charlie', 'Dawood', 'Faryal', 'Esha']
['Dawood', 'Faryal', 'Esha']
['A', 'B', 'C', 'X', 'Y', 'Z']

In [ ]:
#list concatenation
g1 = ["Milk", "Eggs"]
g2 = ["Bread", "Butter"]
g3 = ["Juice", "Fruits"]
full_list = g1 + g2 + g3
print(full_list)
print(g1)
s1 = "Izzah"
s2 = "Khursheed"
print (s1+s2)
# employee_1 = ["John (Manager)", 5000]
# employee_2 = ["Emma (Developer)", 4000]
# employee_3 = ["Ryan (Designer)", 4500]
# all_employees = employee_1 + employee_2 + employee_3
# print(all_employees)

['Milk', 'Eggs', 'Bread', 'Butter', 'Juice', 'Fruits']
['Milk', 'Eggs']
IzzahKhursheed

**Remove List Items:**

There are multiple ways to remove elements from a list;

- `remove(value)`: It remove First Occurrence of the specified value.

- `pop(index)`: Removes an element at a given index and returns it.
If no index is specified, it removes the last item.

- `del` Statement: Deletes item by index or delete the entire list, permanently removes items or list from memory.

- `clear()`: Clears all elements from the list, leaving an empty list.

In [ ]:
#remove(value)
items = ["Tayyaba", 10, True, 5.3, "Summer", 2, "Summer"]
items.remove("Summer")
print(items)

In [ ]:
#pop(index)
numbers = [10, 20, 30, 40, 50, 60]
numbers.pop(2)
numbers.pop()
print(numbers)

60

In [ ]:
#del
colors = ["red", "green", "blue", "yellow", "black"]
del colors[2]
print(colors)

numbers = [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]
del numbers[2:5]
print(numbers)

hundreds = [100, 200, 300]
del hundreds

['red', 'green', 'yellow', 'black']
[1.0, 2.0, 6.0, 7.0]

In [ ]:
#clear()
l = ["Tayyaba",10,True,5.3,"Summer",2,"cool","Bread"]
l.clear()
print(l)

[]

**Sort List:**

**1- Using** `sort( )`**:**

- Modifies the original list, In-Place sorting.

- By default, it sorts in ascending order.

- Use `reverse=True` for descending order.

- Works for both numbers and strings.

In [ ]:
#ascending order
n = [50, 25, 90, 45, 10, 85, 70, 30, 65]
n.sort()
print(n)

#descending order
n.sort(reverse=True)
print(n)

[10, 25, 30, 45, 50, 65, 70, 85, 90]
[10, 25, 30, 45, 50, 65, 70, 85, 90]

In [ ]:
S = ["summer", "Winter","Autumn","@","#","54","65","87","1","2","34","Charg","capital","world", "Sorting", "ali"]
S.sort()
print(S)

S.sort(reverse = True)
print(S)

['#', '1', '2', '34', '54', '65', '87', '@', 'Autumn', 'Charg', 'Sorting', 'Winter', 'ali', 'capital', 'summer', 'world']
['world', 'summer', 'capital', 'ali', 'Winter', 'Sorting', 'Charg', 'Autumn', '@', '87', '65', '54', '34', '2', '1', '#']

**2- Using** `sorted()`**:**

- Does not modify the original list.

- Returns a new sorted list.

In [ ]:
numbers = [8, 3, 6, 2, 5, 9, 1, 4, 7]
sorted_numbers = sorted(numbers)
print(sorted_numbers)
print (numbers)

desc_sorted = sorted(numbers, reverse=True)
print(desc_sorted)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[8, 3, 6, 2, 5, 9, 1, 4, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[8, 3, 6, 2, 5, 9, 1, 4, 7]

**3- Using** `key` **Parameter:**

- You can use a function to define a custom sorting order.

- `str.lower` converts all string elements of list to lowercase before sorting.

- `len` sorts based on string length

- `str.upper` converts all strings to uppercase before sorting.

In [ ]:
w = ["summer", "winter", "spring", "autumn", "rainy"]
w.sort(key = str.lower)
print(w)

words = ["apple", "Strawberry", "kiwi", "cherry"]
words.sort(key = len)
print(words)

['autumn', 'Rainy', 'Spring', 'summer', 'winter']
['kiwi', 'apple', 'cherry', 'Strawberry']

**Copy List:**

When copying a list, using `list2 = list1` does not create a new list, but instead makes `list2` a reference to `list1`. Any modification in `list1` will affect `list2`, as they share the same memory reference.

In [ ]:
list5 = ["apple", "Banana", "orange", "Apricot"]
list6 = list5
# print(list5)
# print(list6)

# print(id(list5))
# print(id(list6))

list5.append("Hello")

print(list5)
print(list6)

['apple', 'Banana', 'orange', 'Apricot', 'Hello']
['apple', 'Banana', 'orange', 'Apricot', 'Hello']

**1- Using** `copy()` **Method:**

- The `copy()` method creates a new independent list.

- Changes in the copied list do not affect the original list.

In [ ]:
list1 = ["Tayyaba", 10, False, 5.3, "Summer", 500, "cool"]
copy1 = list1.copy()
print(copy1)

print(id(list1))
print(id(copy1))

list1.append("Programmer")
copy1.remove(500)

print(list1)
print(copy1)

['Tayyaba', 10, False, 5.3, 'Summer', 500, 'cool']
137992012374528
137992013804672
['Tayyaba', 10, False, 5.3, 'Summer', 500, 'cool', 'Programmer']
['Tayyaba', 10, False, 5.3, 'Summer', 'cool']

**2- Using Slicing** `[:]`**:**

- The fastest method for simple list copying.

- Returns a new list containing all elements of the original.

In [ ]:
o = [1, 2, 3]
t = o[:]
print(t)
print(id(o))
print(id(t))

o.pop()
t.append(4)
print(o)
print(t)

[1, 2, 3]
137992012420608
137992012424576
[1, 2]
[1, 2, 3, 4]

**Some More Built-in Methods for Lists**

**Count():**

- Counts the number of occurrences of a specified element in a list.

- Useful for counting duplicate elements in a list.

- `list_name.count(value)`

In [ ]:
x = ["apple", "Banana",4, "orange", "Apricot",4]
print(x.count("apple"))

1

**Index():**

- Finds the first occurrence index of a specified value in the list.

- `list_name.index(value, start, end)`

- value → Element to find.

- start(optional) → Search from this index.

- end(optional) → Search up to this index.

In [ ]:
x = ["apple", "orange", "Banana", 4, "orange", "Apricot", 4, "apple", "orange"]
print(x.index("apple"))
print(x.index(4))
print(x.index("orange", 7))

0
3
8

**reverse():**

- Reverses the order of elements in the list in-place.

- Does not return a new list.

In [ ]:
x = ["apple", "Banana",4, "orange", "Apricot", 4]
x.reverse()
print(x)

#using slicing -- alternative method
y = [1, 2, 3, 4, 5]
reversed = y[::-1]
print(reversed)

[4, 'Apricot', 'orange', 4, 'Banana', 'apple']
[5, 4, 3, 2, 1]

**Nested List:**

- If there is a sublist within a list, it is known as nested list.

- A nested list is a list that contains other lists as its elements.

In [ ]:
student = ["Name" , "Ali" , "Marks" , [54,89, [1, 2, 3],76,34] , ["Pass", "Fail"]]
print(student[3])
print(student[3][2][1])

[54, 89, [1, 2, 3], 76, 34]
2

In [ ]:
num = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(num)
print(num[0])
print(num[1][2])
print(num[2][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
6
8

**List Comprehension:**

- List comprehension is a concise way to create lists using a single line of code, rather than using traditional loop.
- It is faster and more readable.

`new_list = [expression for item in iterable if condition]`

- expression → Operation or transformation applied to item
- item → Element from the iterable (list, range, etc.)
- condition (optional) → Filters elements based on a condition

In [ ]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
fruits = ["apple", "banana", "cherry", "mango", "apricort", "berries"]
new_list = [x for x in fruits if "a" in x]
print(new_list)

['apple', 'banana', 'mango', 'apricort']

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.