<a href="https://colab.research.google.com/github/Izzah-Khursheed/Python-Colab/blob/main/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python String:**

A string is a **sequence of characters** used to represent text in programming.

It can include **letters**, **numbers**, **symbols**, and
**spaces**.

Strings in python are surrounded by either **single quotation** marks, or **double quotation** marks.

In [ ]:
x = "Python"
print(x)
print("Python")
y = 'Programming'
print(y)

Python
Python
Programming

**Multiline String:**

A multiline string is a string that spans **multiple lines** instead of staying on one line.

You can assign a multiline string to a variable by using **three double quotes or three single quotes.**

In [ ]:
a = """Hello everyone! I'm Tayyaba Mustafa.

I'm currently pursuing my bachelor's in Computer science."""
print(a)

Hello everyone! I'm Tayyaba Mustafa.

I'm currently pursuing my bachelor's in Computer science.

Multiline strings **preserve spaces** and **newlines** exactly as written.

In [ ]:
quote = """Dear User,

Thank you for using our service.
Have a great day!

Best regards,
The Team"""
print(quote)

Dear User,

Thank you for using our service.
Have a great day!

Best regards,
The Team

Even without triple quotes, you can use **\n (newline character)** inside a normal string.

In [ ]:
message = "Hello!\n\nWelcome to Python\nThis is an example of a multiline string."
print(message)

Hello!

Welcome to Python
This is an example of a multiline string.

**String Concatenation:**

To concatenate, or combine, two strings you can use the **"+"** operator.

In [ ]:
a = "Codebettle's"
b = "Python"
c = "Crash"
d = "Course"
print(a+b+c+d)

print(a+" "+b+" "+c+" "+d)

Codebettle'sPythonCrashCourse
Codebettle's Python Crash Course

In [ ]:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)

John Doe

**Formatted String:**

The format() method helps insert **values** into a string using placeholders.The placeholder is defined using curly brackets: {}.

In [ ]:
w = "55kg"
print(f"My weight is {w}.")

My weight is 55kg.

In [ ]:
city = "New York"
country = "USA"
print(f"I live in {city}, which is in {country}.")

I live in New York, which is in USA.

**Strings are Arrays:**

In Python, a string is a sequence of characters. Just like an array holds multiple items, a string holds a sequence of letters, numbers, or symbols.

Every character in a string has a **position (index)**.

You can access characters one by one using indexing.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
x = "Hello World!"
print(x[4])
print(id(x))

o
132615676619696

**String are immutable:**

Strings are not mutable in Python. Strings are a immutable data types which means that its value cannot be updated.

In [ ]:
a = "Tayyaba Mustafa"
a[2] = "i"
print(a)

TypeError: 'str' object does not support item assignment

**Negative Indexing:**

Use negative indexes to start the slice from the **end** of the string.

In [ ]:
x = "Hello world"
print(x[-1])
print(x[-2])
print(x[-3])

d
l
r

**String Length:**

To get the length of a string, use the **len()** function.

In [ ]:
a = "Hyy Everyone!"
print(len(a))

13

**String Index:**

We can use **index() method** to find the index of a specific character or substring in a string.

In [ ]:
x = "I am a programmer."
print(x.index("a"))

2

**Looping through a string:**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [ ]:
for i in "Python Programming":
  print(i)

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

**Membership Operators:**

Membership operators are used to test if **a sequence is presented** in an object

**in** Returns "**True**" if a sequence with the **specified value is present** in the object

**not in** Returns "**True**" if a sequence with the **specified value is not present** in the object

In [ ]:
a = "Python Programming Language"
print("g" in a)
print("q" in a)
print("w" not in a)
print("e" not in a)

True
False
True
False

**Slicing:**

In Python, string slicing is used to **extract a portion** of a string by specifying a **start**, **stop**, and **step** value.

There are three values separated by a **colon(:)**.

Syntax= string[start:end:step]

**start:** The index where the slice begins (inclusive).

**stop:** The index where the slice ends (exclusive).

**step:** The interval between characters (optional, default is 1).

In [ ]:
text = "Hello World!"
print(text[0:5])

Hello

In [ ]:
text = "Hello World!"
print(text[:3])

Hel

In [ ]:
x = "Python programming"
print(x[7:])

programming

In [ ]:
a = "Python Programming Language"
print(a[4:15:2])

o rgam

**String methods:**

Python has a set of built-in methods that you can use on strings.

**Upper Case:**

The upper() method returns the string in **upper case**.

**Lower Case:**

The lower() method returns the string in **lower case**.

**Capitalize:**

The capitalize() method returns the string with **first character capitalized**.

In [ ]:
#Upper case
a = "TaYYaba MusTAFA"
print(a.upper())

#Lower case
print(a.lower())

#Capitalize
print(a.capitalize())

TAYYABA MUSTAFA
tayyaba mustafa
Tayyaba mustafa

**Sorted:**

The sorted function is used to **sort the string alphabatically**.

In [ ]:
#Sorted (Ascending Order)
x = "Hello Tayyaba!"
print(sorted(x))

[' ', '!', 'H', 'T', 'a', 'a', 'a', 'b', 'e', 'l', 'l', 'o', 'y', 'y']

In [ ]:
text = "Hello123!@#"
print(sorted(text))

['!', '#', '1', '2', '3', '@', 'H', 'e', 'l', 'l', 'o']

In [ ]:
x = "Hello Tayyaba!"
print(sorted(x, reverse=True))

['y', 'y', 'o', 'l', 'l', 'e', 'b', 'a', 'a', 'a', 'T', 'H', '!', ' ']

**Join:**

The join() function in Python is used to **concatenate** elements of an **iterable (like a list, tuple, or set)** into a **single string**, with a **specified separator**.

**Syntax:**

separator.join(iterable)

**separator** → The character(s) used to join the strings.

**iterable** → A list, tuple, or any sequence of strings.

In [ ]:
date_parts = "20250214"
result = "-".join(date_parts)
print(result)

2-0-2-5-0-2-1-4

In [ ]:
x = "Python Programming"
a = "/".join(x)
print(a)

P/y/t/h/o/n/ /P/r/o/g/r/a/m/m/i/n/g

**Count:**

The count method is used to **count the occurences** of a specific character or substring in a string.

In [ ]:
x = "Python Programming"
print(x.count("o"))

2

**endswith:**

It checks whether a string ends with a specified character.

In [ ]:
x = "Python Programming"
print(x.endswith("ing"))

True

**startswith:**

It checks whether a string starts with a specified character.

In [ ]:
x = "Python Programming"
print(x.startswith("m"))

False

**find:**

It checks at what position a specified character is present.

If the substring is not found, it returns -1.

In [ ]:
x = "Python Programming"
print(x.find("m"))

13

**Escape Character:**

Sometimes, we need to use special characters in a string, like a **new line, a tab, or even a quote** inside a quote.

In Python, we use escape characters to do this.

Escape characters start with a **backslash (\)** followed by a **special letter**.

In [ ]:
text = "Hello\nPython"
print(text)

Hello
Python

In [ ]:
x = "Pyt\thon\t Program\tming"
print(x)

Pyt	hon	 Program	ming

In [ ]:
text = "He said, \"Python is awesome!\""
print(text)

He said, "Python is awesome!"

**Remove Whitespaces:**

Whitespace is the **space** before and/or after the actual text, and very often you want to **remove** this space.

The **strip() method** removes any whitespace from the beginning or the end.

In [ ]:
x = "Heo world!"
a = "  Hello world!  "
print(x.strip())
print(a.strip())
print(a.lstrip())
print(a.rstrip())
print(x.strip('Hel'))  #it removes any combination of 'H', 'e', or 'l' from the start and end of the string.

Heo world!
Hello world!
Hello world!
  Hello world!
o world!

In [ ]:
x = " Sham Lohana mahS"
print(x.strip(' Sh'))
print(x.strip(' Sha'))
print(x.strip(' Sham'))

am Lohana ma
m Lohana m
Lohan

**Replace String:**

The **replace() method** replaces a string with another string

In [ ]:
x = "Hello world!"
print(x.replace("world","there"))

Hello there!

In [ ]:
x = "Hello world!"
z = x.replace("world","there")
print(z)
print(x)

Hello there!
Hello world!

In [ ]:
s = "Python is fun"

# Replace all spaces in string with an empty string
s = s.replace(" ", "")
print(s)

Pythonisfun

**Split String:**

The split() function in Python is used to **break a string** into multiple parts (a list of words or substrings) based on a separator.

**Syntax:**

string.split(separator)

**separator** (optional): The character or string used to split the text. Default is a space.

In [ ]:
a = "Python is a programming language."
print(a.split())
print(a.split("o"))
print("/".join(a.split()))

['Python', 'is', 'a', 'programming', 'language.']
['Pyth', 'n is a pr', 'gramming language.']
Python/is/a/programming/language.

In [ ]:
text = "Hello,World"
result = text.split("W")
print(result)

['Hello,', 'orld']

**Reverse String:**

Reversing a string in Python means **changing the order of characters** so that the last character becomes the first, the second last becomes the second, and so on.

Here are some ways to do it:

In [ ]:
#Reverse of a string by using Slicing
b = "Tayyaba Mustafa"
print(b[::-1])

afatsuM abayyaT

In [ ]:
#Reverse of a String by using reversed() function
a = "Python is a programming language."
print(reversed(a))
z = "".join(reversed(a))
print(id(z))
print("/".join(reversed(a)))

<reversed object at 0x7eba97b663e0>
139339322736528
./e/g/a/u/g/n/a/l/ /g/n/i/m/m/a/r/g/o/r/p/ /a/ /s/i/ /n/o/h/t/y/P